body {
    margin: 0;
}

/* challenge 5 design */
/* or doing it on the h1 which is easier*/
/* h1 by default bigger */
h1 {
    background: #281B2D;
    color: #fff;
    text-align: center;
    font-size: 72px;
    margin-top: 0;
    padding: 25px 0;
}

/* challenge 5 design */
/* header style */
/* header {
    background: #281B2D;
    color: #fff;
    font-size: 72px;
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 72px;
} */

/* challenge 6*/
.challSix {
    font-size: 48px;
    color: #fcd801;
    background: #281B2D;
    border-bottom: #00C54C solid 6px;
    padding: 20px;
}

.challSeven {
    color: #fff;
}