body {
    margin: 0;
}

/* challenge 5 design */
/* or doing it on the h1 which is easier*/
/* h1 by default bigger */
h1 {
    background: #281B2D;
    color: #fff;
    text-align: center;
    font-size: 72px;
    margin-top: 0;
    padding: 25px 0;
}

/* challenge 5 design */
/* header style */
/* header {
    background: #281B2D;
    color: #fff;
    font-size: 72px;
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 72px;
} */

/* challenge 6*/
.challSix {
    font-size: 48px;
    color: #fcd801;
    background: #281B2D;
    border-bottom: #00C54C solid 6px;
    padding: 20px;
}

.challSeven {
    color: #fff;
}

/* challenge #8 */
.container {
    /* width: 1000px; */
    /* border: red solid 1px; */ /* just to double check the responsiveness*/
    max-width: 1000px; /*allows for responsiveness still why holding content to a maximum space*/
    margin: 0 auto;
    padding: 0 20px; /*so as the screen gets smaller it's still not touching the sides*/
}

/* challenge #9 */
.columns {
    display: flex;
}

.main-content {
    width: 65%;
    margin-right: 5%;
}

.sidebar {
    width: 30%;
}

.secColumn {
    margin-left: 3%;
}